{
    "presets": ["@babel/preset-env"],
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", { "development": true }]
            ]
        },
        "production": {
            "presets": [
                ["@babel/preset-env", { "development": false }]
            ]
        }
    }
}